<a href="https://colab.research.google.com/github/VectorInstitute/Causal_Inference_Laboratory/blob/main/notebooks/Demo_BasicCausalEstimation_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Estimating the causal effect of sodium on blood pressure in a simulated example
adapted from Luque-Fernandez et al. (2018):
    https://academic.oup.com/ije/article/48/2/640/5248195

In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [3]:
# Functions
def generate_data(n=1000, seed=0, beta1=1.05, alpha1=0.4, alpha2=0.3, binary_treatment=True, binary_cutoff=3.5):
    np.random.seed(seed)
    age = np.random.normal(65, 5, n)
    sodium = age / 18 + np.random.normal(size=n)
    if binary_treatment:
        if binary_cutoff is None:
            binary_cutoff = sodium.mean()
        sodium = (sodium > binary_cutoff).astype(int)
    blood_pressure = beta1 * sodium + 2 * age + np.random.normal(size=n)
    proteinuria = alpha1 * sodium + alpha2 * blood_pressure + np.random.normal(size=n)
    hypertension = (blood_pressure >= 140).astype(int)  # not used, but could be used for binary outcomes
    return pd.DataFrame({'blood_pressure': blood_pressure, 'sodium': sodium,
                         'age': age, 'proteinuria': proteinuria})
    
def estimate_causal_effect(Xt, y, model=LinearRegression(), treatment_idx=0, regression_coef=False):
    model.fit(Xt, y)
    if regression_coef:
        return model.coef_[treatment_idx]
    else:
        Xt1 = pd.DataFrame.copy(Xt)
        Xt1[Xt.columns[treatment_idx]] = 1
        Xt0 = pd.DataFrame.copy(Xt)
        Xt0[Xt.columns[treatment_idx]] = 0
        return (model.predict(Xt1) - model.predict(Xt0)).mean()

In [11]:
df

         blood_pressure  sodium        age  proteinuria
0            146.809261       1  73.820262    43.118187
1            133.145170       0  67.000786    37.669696
2            139.289640       0  69.893690    41.370320
3            153.894444       1  76.204466    47.021801
4            150.615711       1  74.337790    46.574317
...                 ...     ...        ...          ...
9999995      137.018907       1  67.951055    40.631900
9999996      135.047309       1  67.338079    40.663393
9999997      109.889704       0  55.276426    33.376687
9999998      125.415880       0  63.280074    36.482644
9999999      125.052357       1  61.299052    37.293897

[10000000 rows x 4 columns]

In [12]:
if __name__ == '__main__':
    binary_t_df = generate_data(beta1=1.05, alpha1=.4, alpha2=.3, binary_treatment=True, n=10000000)
    continuous_t_df = generate_data(beta1=1.05, alpha1=.4, alpha2=.3, binary_treatment=False, n=10000000)

    ate_est_naive = None
    ate_est_adjust_all = None
    ate_est_adjust_age = None

    for df, name in zip([binary_t_df],
                        ['Binary Treatment Data', 'Continuous Treatment Data']):
        print()
        print('### {} ###'.format(name))
        print()

        # Adjustment formula estimates
        ate_est_naive = estimate_causal_effect(df[['sodium']], df['blood_pressure'], treatment_idx=0)
        ate_est_adjust_all = estimate_causal_effect(df[['sodium', 'age', 'proteinuria']],
                                                    df['blood_pressure'], treatment_idx=0)
        ate_est_adjust_age = estimate_causal_effect(df[['sodium', 'age']], df['blood_pressure'])
        print('# Adjustment Formula Estimates #')
        print('Naive ATE estimate:\t\t\t\t\t\t\t', ate_est_naive)
        print('ATE estimate adjusting for all covariates:\t', ate_est_adjust_all)
        print('ATE estimate adjusting for age:\t\t\t\t', ate_est_adjust_age)
        print()

        # Linear regression coefficient estimates
        ate_est_naive = estimate_causal_effect(df[['sodium']], df['blood_pressure'], treatment_idx=0,
                                               regression_coef=True)
        ate_est_adjust_all = estimate_causal_effect(df[['sodium', 'age', 'proteinuria']],
                                                    df['blood_pressure'], treatment_idx=0,
                                                    regression_coef=True)
        ate_est_adjust_age = estimate_causal_effect(df[['sodium', 'age']], df['blood_pressure'],
                                                    regression_coef=True)
        print('# Regression Coefficient Estimates #')
        print('Naive ATE estimate:\t\t\t\t\t\t\t', ate_est_naive)
        print('ATE estimate adjusting for all covariates:\t', ate_est_adjust_all)
        print('ATE estimate adjusting for age:\t\t\t\t', ate_est_adjust_age)
        print()

### Binary Treatment Data ###

# Adjustment Formula Estimates #
Naive ATE estimate:							 5.328501680864975
ATE estimate adjusting for all covariates:	 0.8537946431496021
ATE estimate adjusting for age:				 1.0502124539714488

# Regression Coefficient Estimates #
Naive ATE estimate:							 5.328501680864978
ATE estimate adjusting for all covariates:	 0.8537946431495851
ATE estimate adjusting for age:				 1.0502124539714823